# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db


# Mac DS_Store Files and system files
._.*
.DS_Store
._.DS_Store
.TemporaryItems
._.TemporaryItems